<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoviceNerds Microblog | {% block title %}Home{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p> 👋 {{ user.username }}</p>
        <form method="post" action="{% url 'microblog:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>